html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../fire.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-align: center;
}

#wrapper {
  text-transform: capitalize;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
  background: rgba(0,0,0,0.5);

}

#wrapper .instructions {
  margin-top: 200px;
}

#wrapper #ps {
  font-size: 15px;
  color: red;
}

#timer {
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;

}

.progresstext {
  font-size: 9px;
}

.arena {
  height: 500px;
}

.weapon {
  height: 100px;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

#weapon1, #weapon2, #weapon3 {
  background-repeat: no-repeat;
  background-position: center;
}

#weapon1 {
  background-image: url("../hand.png");
}

#weapon2 {
  background-image: url("../knife.png");
}

#weapon3 {
  background-image: url("../egg.png");
}

input {
  margin-top: 20px;
}

.arena {
  position: relative;
}


#punchball {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

#hdamage1 {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url('../broken_1.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#hdamage2 {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url('../broken_2.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#hdamage3 {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url('../broken_3.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#hdamage4 {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url('../broken_4.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#kdamage1 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../blood_1.png');
  position: absolute;
  top: 40;
  left: 100;
  z-index: 10;
  display: none;
}

#kdamage2 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../blood_2.png');
  position: absolute;
  background-position: 90% 70%;
  top: 100;
  left: 100;
  z-index: 10;
  display: none;
}

#kdamage3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../blood_3.png');
  position: absolute;
  top: 40;
  left: 100;
  z-index: 10;
  display: none;
}

#kdamage4 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../blood_4.png');
  position: absolute;
  top: 40;
  left: 100;
  z-index: 10;
  display: none;
}

#edamage1 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../eggsplat_1.png');
  position: absolute;
  background-position: 10% 30%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#edamage2 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../eggsplat_1.png');
  position: absolute;
  background-position: 50% 60%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#edamage3 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../eggsplat_1.png');
  position: absolute;
  background-position: 0% 90%;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#edamage4 {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../eggsplat_4.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
