html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../fire.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-align: center;
}

#timer {
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;

}

.arena {
  height: 500px;
}

.weapon {
  height: 100px;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

#weapon1, #weapon2, #weapon3 {
  background-repeat: no-repeat;
  background-position: center;
}

#weapon1 {
  background-image: url("../handselect.png");
  /*cursor: url("../hand.png"), none;*/
}

#weapon2 {
  background-image: url("../knifeselect.png");
  /*cursor: url("../knife.png"), none;*/
}

#weapon3 {
  background-image: url("../eggselect.png");
  /*cursor: url("../egg.png"), none;*/
}

input {
  margin-top: 20px;
}

.arena {
  position: relative;
}


#punchball {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;

}

#damage {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url('../broken_1.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
